<div id="primary-header" class="mat-h1">
    <span>Groups</span>
</div>
<div fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="80%" fxFlex.xs="100%">
        <div class="min-margin">
            <button (click)="onCreate()" mat-raised-button color="primary">
                Create Group
            </button>
        </div>
        <div class="min-margin">
            <button (click)="onConnect()" mat-raised-button color="primary">
                Connect Group
            </button>
        </div>
        <app-group-item *ngFor="let group of groups$ | async" [group]="group" (onSave)="onSave($event)" (onLeave)="onLeave($event)">
        </app-group-item>
    </mat-card>
</div>