<mat-toolbar color="primary" class="mat-elevation-z6">

    <a mat-button routerLink="/" class="nav-title">Around</a>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm class="fill-remaining-space">
        <div fxLayout="column" fxFlex.gt-sm="100%">
            <div fxFlexAlign="end">
                <div *ngIf="(loggedIn$ | async) === true; then profile else login"></div>
                <ng-template #profile>
                    <button mat-button [mat-menu-trigger-for]="userMenu">
                        <mat-icon>person</mat-icon>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </ng-template>
                <ng-template #login>
                    <button mat-button (click)="signinPopup()">
                        <mat-icon>input</mat-icon>
                        <span>Sign in</span>
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
    <div fxLayout="row-reverse" fxHide="false" fxHide.gt-sm class="fill-remaining-space">
        <button mat-button [mat-menu-trigger-for]="menu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

</mat-toolbar>
<mat-menu #menu="matMenu">
    <div *ngIf="(loggedIn$ | async) === true; then profileMenu else loginMenu"></div>
    <ng-template #profileMenu>
        <button mat-menu-item [mat-menu-trigger-for]="userMenu">
            <mat-icon>person</mat-icon>
        </button>
    </ng-template>
    <ng-template #loginMenu>
        <button mat-menu-item (click)="signinPopup()">
            <span>Sign in</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="signoutPopup()">
        <span>Sign out</span>
    </button>
</mat-menu>