<h3 mat-dialog-title>
    New Group
</h3>
<mat-dialog-content>
  <div fxLayout fxLayoutAlign="center">
    <div fxFlex="250px" fxFlex.gt-xs="350px" fxFlex.gt-sm="500px">
      <form [formGroup]="createForm" (ngSubmit)="submit()" novalidate fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput [formControl]="label">
          <mat-placeholder>Group Label</mat-placeholder>
          <mat-error *ngIf="label.invalid">{{getLabelMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [formControl]="password">
          <mat-placeholder>Password</mat-placeholder>
        </mat-form-field>
        <mat-form-field>
          <input matInput [formControl]="userName">
          <mat-placeholder>Nick Name</mat-placeholder>
          <mat-error *ngIf="userName.invalid">{{getUserNamedMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select [formControl]="userIcon">
            <mat-select-trigger>
              <div class="icon-option">
                <img *ngIf="userIcon.value" src="/icons/{{userIcon.value}}.svg" alt="{{userIcon.value}}">
              </div>
            </mat-select-trigger>
            <mat-option class="icon-option" *ngFor="let icon of icons" [value]="icon">
              <img src="/icons/{{icon}}.svg" alt="icon">
            </mat-option>
          </mat-select>
          <mat-placeholder>User Icon</mat-placeholder>
          <mat-error *ngIf="userIcon.invalid">{{getIconMessage()}}</mat-error>
        </mat-form-field>
        <div>
          <button class="min-margin" mat-raised-button color="primary" type="submit" [disabled]="createForm.invalid">
            Save
          </button>
          <button class="min-margin" mat-raised-button mat-dialog-close color="warn">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>