<div id="primary-header" class="mat-h1">
    <span>{{(group$ | async)?.label}}</span>
</div>
<a routerLink="/groups" class="min-margin" mat-raised-button color="primary">
    <mat-icon>arrow_back_ios</mat-icon>
    Back
</a>
<div fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="80%" fxFlex.xs="100%">
        <button mat-raised-button color="primary" (click)="onShowAllUsersOnMap()">
            <mat-icon>language</mat-icon>
            Show everyone
        </button>
        <mat-spinner *ngIf="!(users$ | async).length"></mat-spinner>
        <mat-list>
            <mat-list-item *ngFor="let user of users$ | async">
                <div class="user-item" fxLayout fxLayoutAlign="start center">
                    <mat-icon>person</mat-icon> {{user.userName}}
                    <div fxLayout fxFlex="grow" fxLayoutAlign="end">
                        <button [disabled]="!user.isGeolocationAvailable" mat-icon-button color="primary" (click)="onShowUserOnMap(user)">
                            <mat-icon>my_location</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
           </mat-list>
    </mat-card>
</div>
<div class="map-container" [class.map-container--show]="isMapShown">
    <button mat-raised-button color="primary" class="map-container__button" (click)="onCloseMap()">
        <mat-icon>arrow_back_ios</mat-icon>
        Close
    </button>
    <div id="map"></div>
</div>