<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{group.label}}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h4>Identifier of the group: {{group.id}}</h4>
    <mat-form-field>
      <input matInput [formControl]="label">
      <mat-placeholder>Group Label</mat-placeholder>
      <mat-error *ngIf="label.invalid">{{getLabelMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="showPassword">
      <input matInput [formControl]="password">
      <mat-placeholder>Password</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="userName">
      <mat-placeholder>Nick Name</mat-placeholder>
      <mat-error *ngIf="userName.invalid">{{getUserNamedMessage()}}</mat-error>
    </mat-form-field>
    <div>
      <button class="min-margin" (click)="save()" mat-raised-button color="primary" [disabled]="notNeedSave()">
        Save
      </button>
      <button class="min-margin" (click)="leave()" mat-raised-button color="warn">
        Leave
      </button>
      <a class="min-margin" [routerLink]="[group.id]" mat-raised-button color="primary">
        Jump inside
      </a>
    </div>
  </mat-expansion-panel>