<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>Id: {{group.id}} (Label: {{group.label}})</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput [formControl]="label">
      <mat-placeholder>Label</mat-placeholder>
      <mat-error *ngIf="label.invalid">{{getLabelMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="password">
      <mat-placeholder>Password</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="userName">
      <mat-placeholder>User Name</mat-placeholder>
      <mat-error *ngIf="userName.invalid">{{getUserNamedMessage()}}</mat-error>
    </mat-form-field>
    <div>
      <button class="min-margin" (click)="save()" mat-raised-button color="primary" [disabled]="notNeedSave()">
        Save
      </button>
      <button class="min-margin" (click)="leave()" mat-raised-button color="warn">
        Leave
      </button>
      <a class="min-margin" [routerLink]="[group.id]" mat-raised-button color="primary">
        Jump inside
      </a>
    </div>
  </mat-expansion-panel>