.icon-option {
    width: 100%;
    height: 100px;
    min-height: 100px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;

    & img {
        width: 100%;
        height: 100%;
    }
}